h2 {
    letter-spacing: 1px;
    text-align: center;
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}

.TempBox {
    display: flex;
    width: 100%;
    justify-content: center;
}

.WeatherIcon {
    width: 100px;
    height: 100px;
}

.WeatherTemp {
    font-family: 'Sawarabi Mincho', serif;
    color: white;
}

.WeatherUpdated {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

@media (min-width: 900px){
    h2{
        font-size: 35px;
    }
    .WeatherIcon{
        width: 150px;
        height: 150px;
    }
    .WeatherTemp{
        font-size: 32px;
    }
    .WeatherUpdated{
        font-size: 19px;
    }
}