h1 {
  font-size: 35px;
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  margin: 10px;
  letter-spacing: 2px;
}

h1::after{
  content: '';
  display: block;
  width: 25%;
  height: 1px;
  background-color: white;
  margin: 25px;
}

body {
  background: black;
}

@media (min-width: 900px) {
  h1 {
    font-size: 40px;
    margin: 25px;
  }
}